{% extends "./base.html.twig" %}

{% block title %}
    Home
{% endblock %}
{% block body %}
    <div class="container">
        <div class="movie-title-custom">
            <h1 >{{ movie.title }}</h1>
            <h3>{{ movie.releaseYear }}</h3>
            <h5>{{ movie.rating }}/5</h5>
        </div>
        <div class="custom-movie-image">
            <img src="{{ movie.image }}" alt="" class=" ">
        </div>
        <div class="container">
            <div class="row">
                <div class="col">
                    <h2>Description</h2>
                    <h5>{{ movie.shortDescription }}</h5>
                </div>
                <div class="col">
                    <h2>Rate This Movie</h2>
                    {% if is_granted('ROLE_USER') %}
                        <div class="rating d-flex justify-content-center align-items-center">
                            <img src="{{ asset('build/images/icons8-star-48.1422c75c.png') }}" alt="Star 1" class="star" data-value="1">
                            <img src="{{ asset('build/images/icons8-star-48.1422c75c.png') }}" alt="Star 2" class="star" data-value="2">
                            <img src="{{ asset('build/images/icons8-star-48.1422c75c.png') }}" alt="Star 3" class="star" data-value="3">
                            <img src="{{ asset('build/images/icons8-star-48.1422c75c.png') }}" alt="Star 4" class="star" data-value="4">
                            <img src="{{ asset('build/images/icons8-star-48.1422c75c.png') }}" alt="Star 5" class="star" data-value="5">
                        </div>
                    {% else %}
                        <h5>Please <a href="{{ path('app_login') }}">Log In</a> to rate this movie!</h5>
                    {% endif %}
                </div>
            </div>
        </div>


    </div>
{% endblock %}