{% extends "./base.html.twig" %}

{% block title %}
    Home
{% endblock %}
{% block body %}
    <div class="container">


        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 custom-movie-image">
                    <img src="{{ movie.image }}" alt="" class=" ">
                </div>
                <div class="col-12 col-md-6">
                    <div class="movie-title-custom">
                        <h1 >{{ movie.title }}</h1>
                        <h3>{{ movie.releaseYear }}</h3>
                    </div>
                    <h2>Description</h2>
                    <h5>{{ movie.shortDescription }}</h5>
                </div>
            </div>
            <div class="container">
                <h2>Rate This Movie </h2>
                {% if is_granted('ROLE_USER') %}


                    {{ form_start(reviewForm) }}

                        <div class="rating d-flex justify-content-center align-items-center">
                            {% for i in 1..5 %}
                                <img src="{{ asset('build/images/icons8-star-48.1422c75c.png') }}" alt="Star {{ i }}" class="rating star" data-value="{{ i }}">
                            {% endfor %}
                        </div>
                        {{ form_row(reviewForm.rating) }}
                        <div class="form-group">
                            <label for="movieThoughts"></label>
                            {{ form_row(reviewForm.review) }}
                        </div>
                        <button type="submit" class="btn btn-primary">Submit Rating</button>
                    {{ form_end(reviewForm) }}


                {% else %}
                    <h5>Please <a href="{{ path('app_login') }}">Log In</a> to rate this movie!</h5>
                {% endif %}
            </div>
            <div class="container">
                <h4>User reviews:</h4>
                <hr>
                <div class="custom-review-window">

                </div>
            </div>
        </div>


    </div>
{% endblock %}