{% extends "./base.html.twig" %}

{% block title %}
    Home
{% endblock %}
{% block body %}
    <div class="container">


        <div class="container container-fluid">
            <div class="row">
                <div class="col-12 col-md custom-movie-image">
                    <img src="{{ movie.image }}" alt="" class=" ">
                </div>
                <div class="col-12 col-md-6">
                    <div class="movie-title-custom">
                        <h1 >{{ movie.title }}</h1>
                        <h3>{{ movie.releaseYear }}</h3>
                    </div>
                    <h4>Rating: {{ averaggeRating }}/5</h4>
                    <h6></h6>
                    <h4>Duration</h4>
                    <h6>{{ movie.runTime }} min</h6>
                    <h2>Description</h2>
                    <h5>{{ movie.shortDescription }}</h5>
                    <h4>Directed By:</h4>
                    <h5>{{ movie.director }}</h5>
                </div>
            </div>
            <div class="container">
                <h2>Rate This Movie </h2>
                {% if is_granted('ROLE_USER') %}


                    {{ form_start(reviewForm) }}

                        <div class="rating d-flex justify-content-center align-items-center">
                            {{ form_row(reviewForm.rating) }}
                            <div id="rating"></div>
                            {% for i in 1..5 %}
                                <img src="{{ asset('build/images/icons8-star-48.1422c75c.png') }}" alt="Star {{ i }}" class="rating star" data-value="{{ i }}">
                            {% endfor %}
                        </div>

                        <div class="form-group">
                            <label for="movieThoughts"></label>
                            {{ form_row(reviewForm.review) }}
                        </div>
                        <button type="submit" class="btn btn-primary submit-button-custom">Submit Rating</button>
                    {{ form_end(reviewForm) }}


                {% else %}
                    <h5>Please <a href="{{ path('app_login') }}">Log In</a> to rate this movie!</h5>
                {% endif %}
            </div>
            <div class="container">
                <h4>User reviews:</h4>
                <hr>
                <div class="custom-review-window">
                        {% for review in reviews %}
                            <div class="container py-5">
                                <div class="row align-items-center">
                                    <div class="col-auto">
                                        <!-- User icon -->
                                        <img src="{{ asset('build/images/userLogo2.ea694928.png') }}" alt="User Icon" class="img-fluid custom-user-rating-image">
                                    </div>
                                    <div class="col">
                                        <div class="row">
                                            <div class="col-12">
                                                <!-- User name -->
                                                <p class="mb-0"><strong>User</strong></p>
                                            </div>
                                            <div class="col-12">
                                                <!-- Rating -->
                                                <p class="mb-0">Rating {{ review.rating }}/5</p>
                                            </div>
                                            <div class="col-12">
                                                <!-- Review -->
                                                <p class="mb-0">{{ review.review }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                </div>

            </div>
        </div>


    </div>
{% endblock %}